// Theme colors
$primary: rgb(255, 50, 75)
$secondary: rgb(255, 180, 80)
$tertiary: rgb(15, 0, 60)

// Gradient based on primary and secondary color
$gradient: linear-gradient(90deg, $primary 20%, $secondary 100%)

// Common colors
$white: rgb(255, 255, 255)
$black: rgb(0, 0, 0)
$blue: rgb(26, 26, 255)
$green: rgb(51, 204, 51)
$yellow: rgb(255, 255, 0)

// Fonts
$font: "Poppins", sans-serif

// Sizing
$cube: 1rem

