@import '/src/sass/variable'

mat-toolbar
  padding: 50px 5vw
  background: $white
  border-bottom: solid 1.95px lighten($gray, 35%)
  box-shadow: 1px 1px 5px lighten($gray, 35%)

  .larger
    font-size: $cube * 2

  .expand
    flex: 1 1 auto

  a
    color: $tertiary
    padding: $cube
    font-size: $cube * 1.75
    margin: $cube * 2
