@import '../../../sass/variable'

mat-toolbar
  padding: 50px 5vw
  color: $white
  background: $gradient
  border-bottom: solid 1px lighten($tertiary, 75%)

  a
    font-size: $cube * 2.5
    margin: $cube * 3
