@import '/src/sass/variable'

mat-toolbar
  padding: 50px 5vw
  background: $white
  border-bottom: solid 1.95px lighten($gray, 35%)
  box-shadow: 1px 1px 5px lighten($gray, 35%)

  a
    color: $tertiary
    padding: $cube
    font-size: $cube * 2
    margin: $cube * 2
