@import '/src/sass/variable'

#container
  display: flex
  flex-direction: column
  align-items: center
  color: $tertiary

  .title
    color: $white
    padding: 0 20vw
    margin-top: -950px
    margin-bottom: 300px

  .element
    padding: 0 20vw 50px

  .wave-spacer
    aspect-ratio: 960/540
    width: 100%
    min-height: 1000px
    background-repeat: no-repeat
    background-position: center
    background-size: cover

  .wave
    background-image: url("../../../assets/graphic/wave.svg")

  h1
    font-size: $cube * 7
  h2
    font-size: $cube * 4
  p
    font-size: $cube * 2
    margin-top: -30px


