<app-header></app-header>
<div id="container">
  <div class="wave-spacer wave"></div>

  <div class="title">
    <h1>hey. i'm vio.</h1>
    <p>a java and web developer. always aiming on perfection.</p>
  </div>

  <div class="element">
    <h2>i write code.</h2>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
  </div>

  <div class="element">
    <h2>i manage development teams.</h2>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
  </div>

  <div class="element">
    <h2>i like putting my ideas into effect.</h2>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
  </div>
</div>
<app-footer></app-footer>
