@import '/src/sass/variable'

#container
  display: flex
  flex-direction: column
  align-items: center
  color: $tertiary
  padding-bottom: 5vw

  #anchor
    padding: 50px 20vw 0

  .title
    padding: 8vw 20vw 8vw

  .button
    display: flex
    align-items: center
    justify-content: center
    text-align: center
    margin: 200px 0 0
    width: 100%

    a
      transition: all 500ms ease
      font-size: $cube * 3
      color: $white
      background-color: $primary
      width: 200px
      padding: 5px
      margin-bottom: 50px
      border-radius: 5px
    a:hover
      transform: translate(-10px, -10px)

  .element
    transition: all 500ms ease
    width: 50vw
    margin: 20px
    padding: 0 30px 30px 30px
    border-radius: 5px
    color: $white
    background-image: url("/assets/graphic/dark-wave.svg")
    &:hover
      transform: translate(-10px, -10px)

  .wave-container
    width: 100%
    background-repeat: no-repeat
    background-position: center
    background-size: cover

  .wave
    background-image: url("/assets/graphic/header-wave.svg")

  h1
    font-size: $cube * 7
  h2
    font-size: $cube * 4
  p
    font-size: $cube * 2
    margin-top: -30px

  @media (max-width: 1650px)
    .button a
      color: $white
      background-color: $primary
    .button a:hover
      transition: all 500ms ease
      color: $tertiary
      background-color: $white
  @media (max-width: 1000px)
    .wave-container
      padding-bottom: 400px
    .button
      display: none
    .element
      min-width: 80vw

